html {
  font-size: 62.5%;
}

body {
  animation: ruch 500s infinite;
  background-attachment: fixed;
  background-color: rgb(24, 26, 27);
  background-image: url(tlo.svg);
  background-position: center;
  background-size: cover;
  font-size: 1.6rem;
  margin: 0;
  max-width: 100vw;
  min-height: 95vh;
  width: 100vw;
}
@keyframes ruch {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: -100000px 0, -75000px 0, -50000px 0;
  }
}
.rod {
  align-items: center;
  background-color: rgb(99, 99, 61);
  border-radius: 2em;
  color: #8a916f;
  display: flex;
  height: 27px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  max-width: 95vw;
  width: 400px;
}
.music {
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  opacity: 50%;
}
